@charset "utf-8";
@font-face {
    font-family: 'GmarketSans';
    src: url('./font/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    font-weight: 700;
    font-style: normal;
    src: url('./font/GmarketSansBold.eot');
    src: url('./font/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
         url('./font/GmarketSansBold.woff2') format('woff2'),
         url('./font/GmarketSansBold.woff') format('woff'),
         url('./font/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('./font/PretendardVariable.woff2') format('woff2-variations');
}

/****** Reset ******/
*{margin:0;padding:0; box-sizing:border-box;}
html,body{width:100%;}
html {scroll-behavior: smooth;}

body,h1,h2,h3,h4,input,button{font-family: "Pretendard Variable"; font-size:14px; font-weight:400; letter-spacing:-1px; color:#333;}
body{background:#FFF; word-break:keep-all; padding:0; margin:0; position:relative;}
body.noScroll {overflow:hidden;padding:0;}

img,fieldset,iframe{border:0 none}
div {display:block; box-sizing:border-box;}
li{list-style:none; box-sizing:border-box;}
input,select,button{vertical-align:middle; font-family: "Pretendard Variable", sans-serif; font-size:14px; font-weight:300; letter-spacing:-1px; outline:none; color:#333;}
textarea {font-family: "Pretendard Variable", sans-serif;}
input {letter-spacing:0;}
*:focus {outline:none; box-shadow: none;}
optgroup {font-weight: bolder;}
img{vertical-align:middle; width:100%;}
label,button{cursor:pointer}
button{margin:0;padding:0; border:0; background:none; cursor:pointer;}
a{color:#333;text-decoration:none}
a:hover{text-decoration:none;}
legend,hr{visibility:hidden;width:0;height:0;font-size:0;line-height:0}
caption{display:none; overflow:hidden;}
table{border-collapse:collapse;table-layout:fixed;border-spacing:0;}
table caption{display:none;}
.clearfix:after { display:block; clear:both; height:0px; visibility:hidden; content:"."; }
i, em, address {font-style:normal;}

::-webkit-input-placeholder { color: #bdbdbd; }
::-moz-placeholder { color: #bdbdbd; }
:-ms-input-placeholder { color: #bdbdbd; }
:-moz-placeholder { color: #bdbdbd; }

input, textarea, button, select {-webkit-border-radius:0; -moz-border-radius:0; -o-border-radius:0; border-radius:0;}

#periodCont,
#oriCont,
#expCont {display: none;}

@keyframes blink-effect {
  50% {opacity: 0;}
}

.blink {animation: blink-effect 1s step-end infinite;}

.fontGmk * {font-family:'GmarketSans';}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed , .embed-container video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }



/* ========================================
 * toastPop
 * ======================================== */

.toastPop.renew .snsCertify {display:flex; justify-content:flex-start; align-items:center; gap:10px; margin:0 0 24px;}
.toastPop.renew .snsCertify a {display:flex; justify-content:flex-start; align-items:center; gap:4px; font-size:12px; font-weight:500; padding:4px 15px; border-radius:100px; font-family:'Pretendard Variable';}
.toastPop.renew .snsCertify a.kakao {background:#FDE500; color:#222;}
.toastPop.renew .snsCertify a.kakao:before {content:''; width:20px; height:20px; background:url(../img/ico_kakao.png) no-repeat 50% 50%; background-size:100%;}
.toastPop.renew .snsCertify a.naver {background: linear-gradient(90deg, #86C340 0%, #19A44A 100%); color:#FFF;}
.toastPop.renew .snsCertify a.naver:before {content:''; width:20px; height:20px; background:url(../img/ico_naver.png) no-repeat 50% 50%; background-size:100%;}


.toastPop.renew .insureForm .title {margin:0 0 10px;color:#000;font-size:18px;font-weight:700;height:28px;line-height:28px;overflow:hidden;position:relative;}
.toastPop.renew .insureForm .title .titleRoll {display:block;will-change:transform;}
.toastPop.renew .insureForm .title .titleItem {display:block;height:28px;line-height:28px;white-space:nowrap;}
.toastPop.renew .insureForm .title .speTxt {color:#7F7F7F;font-size:18px;font-weight:400;}


.toastPop {position:fixed; left:0; right:0; bottom:-100%; width:100vw; max-width:100vw; z-index:1100; transition:.4s all;}
.toastPop.on {bottom:0;}
.toastPop .insureForm {width: 100%; position:absolute; left:0; bottom:-350px; margin-bottom:0; padding:40px 20px 20px; border-radius:24px 24px 0 0; background:#FFF; transition:.4s all;}
.toastPop .insureForm.on {bottom:80px;}
.toastPop .insureForm .handler {position:absolute; left:50%; top:10px; transform:translate(-50%, 0); width:50px; height:3px; background:#bdbdbd; border-radius:3px;}
.toastPop .insureForm .toastClose {position:absolute; right:0; top:0; width:50px; height:50px; background:url(../img/header/gnb_ico_off.png) no-repeat 50% 50%; background-size:17px; opacity:0.4;}
.toastPop .insureForm .agreeBlock {margin-bottom:0px;}
.toastPop .insureForm .formBox {padding-bottom:0;}
.toastPop .formBtns {display:flex; align-items:center; gap:3%; padding:20px; background:#FFF; position:relative; z-index:1;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
.toastPop .formBtns.fixed {box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;}
.toastPop .formBtns.forPop {z-index:100;}
.toastPop .formBtns .btn {width:48.5%; display:flex; justify-content:center; align-items:center; gap:8px; color:#FFF; font-size:18px; font-family: 'Pretendard Variable'!important; font-weight:700; border-radius:6px; position:relative; padding:15px 0;}
.toastPop .formBtns .btn.payment {background:#009C33; color:#fff;}
.toastPop .formBtns .btn.consulting {background:#FF6F27; color:#fff;}
.toastPop .formBtns.off {display:none;}



/* ========================================
 * insureForm
 * ======================================== */
.insureForm {padding:0px 20px 40px; margin-bottom:70px;}
.insureForm .title {position:relative; margin:20px 0 20px;}
.insureForm .title span {color:#000; font-size:18px;}
.insureForm .formBox {position:relative; padding-bottom:15px;}
.insureForm .formBox .formBlock {position:relative; margin-bottom:10px;}
.insureForm .formBox .formBlock input[type="text"], 
.insureForm .formBox .formBlock input[type="number"] {display:inline-block; width:100%; height:42px; line-height:40px; text-align:center; border:1px solid #bdbdbd; border-radius:6px; font-size:18px; color:#000;}
.insureForm .formBox .formBlock.name {padding-right:110px;}
.insureForm .formBox .formBlock.gender {position:relative;}
.insureForm .formBox .formBlock .gender {position:absolute; right:0; top:0; width:100px; height:auto;}
.insureForm .formBox .formBlock .gender input[type="radio"] { display: none;}
.insureForm .formBox .formBlock .gender label {font-family: 'Pretendard Variable'!important; float:left; text-align:center; background-color: #fff;width: 50px;line-height: 40px;border: 1px solid #bdbdbd; color:#bdbdbd; font-size:18px; font-family:'Noto Sans KR';}
.insureForm .formBox .formBlock .gender label.m{border-radius:6px 0 0 6px; ;}
.insureForm .formBox .formBlock .gender label.f{border-radius:0 6px 6px 0; border-left:0;}
.insureForm .formBox .formBlock .gender input[type="radio"]:checked + label {background-color:#009C33;color: #fff; border:1px solid #228765;}
.insureForm .formBox .formBlock.tel {border:1px solid #bdbdbd; border-radius:6px; display:flex; justify-content:flex-start; align-items:center; overflow:hidden;}
.insureForm .formBox .formBlock.tel input[type="number"] {float:left; width:33.3333%; border:0; border-radius:0; background:transparent;}

.insureForm .agreeBlock {display:flex; justify-content:space-between; align-items:center; margin-bottom:30px;}
.insureForm .agreeBlock .txt {color:#939598; font-size:12px; position:relative;}
.insureForm .agreeBlock .txt:after {content:''; display:inline-block; margin-left:10px; width:6px; height:10px; background:url(../img/form/ico_tail.png) no-repeat 50% 50%; background-size:100%; vertical-align:-1px;}

.insureForm .formBtns {display:flex; align-items:center; gap:3%; font-family:'Noto Sans KR';}
.insureForm .formBtns .btn {width:48.5%; display:flex; justify-content:center; align-items:center; gap:8px; color:#FFF; font-size:18px; font-weight:700; border-radius:6px; position:relative; padding:15px 0;}
.insureForm .formBtns .btn.payment {background:#228765;}
.insureForm .formBtns .btn.payment:before {content:''; display:inline-block; width:24px; height:21px; background:url(../img/float/ico_pay.png) no-repeat 50% 50%; background-size:100%;}
.insureForm .formBtns .btn.consulting {background:#f47920;}
.insureForm .formBtns .btn.consulting:before {content:''; display:inline-block; width:24px; height:21px; background:url(../img/float/ico_consulting.png) no-repeat 50% 50%; background-size:100%;}
.insureForm .formBtns .btn.consulting.full {width:100%;}

.insureForm .formBtns.fixed {position:fixed; left:0; bottom:0; width:100%; height:auto; background:#FFF; z-index:10; padding:20px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}


.insureForm .midBnr {display:flex; justify-content:space-between; align-items:center; padding:24px 16px; background:#64ab8c; border-radius:6px; margin-top:25px;}
.insureForm .midBnr .txt {color:#FFF; font-size:18px; font-weight:300; line-height:1.3;}
.insureForm .midBnr .txt em {display:block; font-size:18px; font-family: 'GmarketSansBold';}
.insureForm .midBnr img {width:75px;}
.raTxt {margin-top:20px; text-align:center; color:#939598; font-size:12px; line-height:1.2;}
.raTxt.noto {font-family:'Noto Sans KR';}

.insureInfo {position:relative; padding:0px 20px 40px;}



/* ========================================
 * Layer Popup
 * ======================================== */
.layer { display:none; position:fixed; top:0; left:0; width:100%; height:100%; font-weight:300; background-color:rgba(0,0,0,0.5); z-index:9999; }
.layer .frame { position:absolute; top:50%; left:50%; width:800px; padding:30px 35px; background-color:#fff; transform:translate(-50%, -50%); }
.layer .header { margin-bottom:30px; text-align:center; }
.layer .header h2 { margin-bottom:20px; padding-bottom:15px; font-size:32px; border-bottom:2px solid #a5a5a5; }
.layer .cont ul { margin-bottom:20px; padding:25px 35px; background-color:#ececec; }
.layer .cont li p { margin-top:12px; font-size:17px; font-weight:500; }
.layer .cont li:first-of-type p { margin-top:0; }
.layer .cont a:hover { text-decoration:underline; }
.layer .chk { margin-top:20px; text-align:center; }
.layer .chk label { margin:0 15px; cursor:pointer; }

@keyframes textWave {
	0% { transform: translateY(0px); }
	30% { transform: translateY(-33px); }
	100% { transform: translateY(-33px); }
}

/* ========================================
 * PC Footer
 * ======================================== */
/* .footer {position:relative; background:#4d4d4d;}
.footer * {font-family:'Pretendard Variable';}
.footer .inner {padding:55px 0; width:640px; margin:0 auto;}
.footer .inner .corp {color:#FFF; font-size:24px; font-weight:700; margin-bottom:20px;}
.footer .inner .corpInfo p {color:#FFF; font-size:20px; font-weight:400; line-height:1.6; letter-spacing:0;}
.footer .inner .corpInfo p strong {font-weight:700;} */

/* ========================================
 * SNS Login
 * ======================================== */
.snsLoginBtns {position:relative; margin-top:10px;}
.snsLoginBtns a.snsBtn {display:flex; justify-content:center; align-items:center; padding:20px 0; color:#FFF; font-size:21px; gap:5px; border-radius:6px; font-family:'Pretendard Variable';}
.snsLoginBtns a.snsBtn.naver {background:#03c75a;}
.snsLoginBtns a.snsBtn.naver:before {content:''; width:20px; height:20px; background:url(../img/float/bi_naver.png) no-repeat 50% 50%; background-size:cover;}

/* ========================================
 * MO Header (.gloHeader, .sideMenu)
 * ======================================== */
.gloHeader {position:sticky; left:0; top:0; width:100%; background:#FFF; height:48px; display:flex; justify-content:flex-start; align-items:center; border-bottom:2px solid #0e7e3f; z-index:10;}
.gloHeader .menu {width:48px; height:48px; background:url(../img/header/gnb_ico_on.png) no-repeat 50% 50%; background-size:17px;}
.gloHeader h1 {width:90px; height:48px; background:url(../img/header/logo.jpg) no-repeat left 50%; background-size:100% auto;}
.gloHeader h1 a {display:block; width:100%; height:100%;}
.gloHeader .btnBack {display:none;}
.gloHeader .btnTel {display:block;width:102px;height:23px;margin-left:auto;margin-right:16px;background:url(../img/header/gnb_tel.png) no-repeat center center;background-size:100% auto;}
.gloHeader .btnTel a {display:block;width:100%;height:100%;}

.dim {display:none; position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:999;}
.dim.on {display:block;}

.sideMenu {position:fixed; left:-100%; top:0; width:83%; height:100%; background:#FFF; z-index:1200; transition:.4s all;}
.sideMenu.on {left:0;}
.sideMenu .sideHead {display:flex; justify-content:space-between; align-items:center; height:50px; border-bottom:1px solid #e1ebf0;}
.sideMenu .sideHead .closeMenu {width:50px; height:50px; background:url(../img/header/gnb_ico_off.png) no-repeat 50% 50%; background-size:17px;}
.sideMenu .sideHead h1 {width:73px; height:21px; background:url(../img/header/logo.jpg) no-repeat 50% 50%; background-size:100%; margin-left:20px;}
.sideMenu .sideBnr {display:block; height:150px; background:#f4f9f2 url(../img/header/side_bnr_img.png) no-repeat right 50%; background-size:auto 150px;}
.sideMenu .sideBnr img {width:auto; height:150px;}
.sideMenu .sideMenuList {display:block; height:calc(100dvh - 200px - env(safe-area-inset-bottom)); overflow-y:auto; background:#fafafa;}
.sideMenu .sideMenuList li {display:block; font-size:16px; border-top:1px solid #FFF; border-bottom:1px solid #e1ebf0;}
.sideMenu .sideMenuList li a {display:block; padding:15px 30px; position:relative;}
.sideMenu .sideMenuList li a:after {content:""; position:absolute; right:30px; top:21px; width:6px; height:6px; border-top:2px solid #333; border-right:2px solid #333; transform:rotate(45deg);}
.sideMenu .sideMenuList li.on a {background-color:#1c8549; color:#fff;}
.sideMenu .sideMenuList li.on a:after {border-top:2px solid #fff; border-right:2px solid #fff;}


/* ========================================
 * floatFunc (플로팅 버튼)
 * ======================================== */
.floatFunc {position:fixed; right:15px; bottom:50px; z-index:100; display:flex; justify-content:center; align-items:center; flex-direction:column; transition:.4s all;}
.floatFunc.fixed {bottom:106px;}
.floatFunc .goSection {width:46px; height:46px; position:relative; margin-bottom:6px;}
.floatFunc .goSection .floatBtn a {position:absolute; left:0; top:0; width:100%; height:100%; transition:.4s all;}
.floatFunc .goSection .floatBtn.goTop a {background:url(../img/float/bico_top.png) no-repeat 50% 50%; background-size:100%; opacity:0; z-index:-999;}
.floatFunc .goSection .floatBtn.goTop.on a {opacity:1.0; z-index:1;}
.floatFunc .goSection .floatBtn.goBtm a {background:url(../img/float/bico_btm.png) no-repeat 50% 50%; background-size:100%; display:none;}
.floatFunc .chatSection {display:flex; justify-content:flex-end; align-items:center; position:relative; gap:5px;}
.floatFunc .chatSection .goChat {width:46px; height:46px; background:url(../img/float/bico_chat.png) no-repeat 50% 50%; background-size:100%;}
.floatFunc .chatSection .goChatBot {width:60px; height:60px; background:url(../img/float/bico_chatbot.png) no-repeat 50% 50%; background-size:100%;}
.floatFunc .chatSection a {display:block; width:100%; height:100%;}


/* ========================================
 * 개인정보 수집 팝업
 * ======================================== */
.agreePop {position:fixed; top:0; left:0; width:100%; height:100%; padding-top:45px; background-color:rgba(0,0,0,0.7); z-index:9999; display:none;}
.agreePop .objFrame {position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); width:100%; height:auto; padding:0 20px;}
.agreePop .frame {position:relative; padding:15px 15px 0 15px; background:#fff; border-radius:10px; overflow:hidden;}
.agreePop .close {position:absolute; top:10px; right:6px; width:24px; height:24px; background:url(../img/gnb_ico_off.png) no-repeat 50% 50%; background-size:17px; text-indent:-9999px;}
.agreePop .header {position: relative; height:auto;}
.agreePop .header h2 {padding:10px 0; font-size:17px; font-weight:700; font-family:'Noto Sans KR';}
.agreePop .cont {position:relative;}
.agreePop .cont .all {border-top: 1px solid #e1e1e1; padding:11px 0; display:flex; justify-content:space-between; align-items:center;}
.agreePop .cont .all p {font-size:11px; font-weight:400; line-height:1.2; font-family:'Noto Sans KR';}
.agreePop .cont .all .btnAll {padding:8px 12px; font-size:13px; font-weight:500; color:#fff; background:#158450;}
.agreePop .cont .contBox .agreeSet {text-align: center;}
.agreePop .cont .contBox .agreeSet .warn {opacity:0; font-size:12px; font-weight:500; color:#ed620d;}
.agreePop .cont .contBox .agreeSet .warn.on {opacity:1;}
.agreePop .cont .contBox .agreeSet .radioBox {font-size:18px; margin:0 0 10px 0; text-align:right;}
.agreePop .cont .contBox .agreeSet .radioBox label {margin-right:10px; font-family:'Noto Sans KR';}
.agreePop .cont .contBox .agreeSet .radioBox label:last-child {margin-right:0;}
.agreePop .cont .contBox .rollBox {width:100%; height:70px; padding:0 0 0 9px; margin-bottom:8px; overflow:auto; background: #fbfbfb; border:1px solid #e1e1e1; font-size:8px; font-weight:400; letter-spacing:-0.04em; box-sizing:border-box;}
.agreePop .cont .contBox .rollBox.small {height:52px;}
.agreePop .cont .contBox .rollBox a {text-decoration: underline;}
.agreePop .cont .contBox .rollBox h3 {margin-top:7px; font-size:13px; font-family:'Noto Sans KR';}
.agreePop .cont .contBox .rollBox p, .agreePop .cont .contBox .rollBox ul {margin-top:5px; font-size:11px; font-family:'Noto Sans KR';}
.agreePop .cont .contBox .rollBox ul .sub{margin:0 0 0 5px;}
.agreePop .cont .btnCheck {padding:16px 0; text-align:center; margin:0 -15px; width:calc(100% + 30px); background:#ed620d; font-size:16px; font-weight:500; color:#fff; margin-top:15px;}
.agreePop .cont .btnCheck.gr{background:#157941;}


/* 결과 */
.result {position:fixed; top:0; left:0; width:100%; height:100%; padding-top:45px; background-color:rgba(0,0,0,0.7); z-index:9999; display:none;}
.result .header h2{display: none;}
.result .frame {position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); width:80%; height:auto; padding:0 20px; background:#fff; border-radius:10px; overflow:hidden;}
.result .close {position:absolute; top:20px; right:20px; width:24px; height:24px; background:url(../img/gnb_ico_off.png) no-repeat 50% 50%; background-size:17px; text-indent:-9999px;}
.result .cont {text-align:center;}
.result .cont h3 {padding:20px 0; font-size:18px; font-weight:700;}
.result .cont h3 span {font-weight:700; color:#17513b;}
.result .box {margin:0 10px; padding:8px 0; border-top:1px solid #dfe0e1; border-bottom:1px solid #dfe0e1; }
.result .main {font-size:18px; padding:5px 0;}
.result .main .name {font-size:18px; font-weight:700;}
.result .rst {font-size:11px; line-height:1;}
.result .rst .label {display:inline-block; width:4em; text-align:right; vertical-align:bottom; font-size:18px;}
.result .rst .fee {font-size:19px; font-weight:700;}
.result .rst .orange {color:#ed620d;}
.result .rst .type {position:relative; font-size:14px; text-align:center;}
.result .rst .type span{font-weight: 700;}
.result .rst .txt {position:absolute; bottom:20px; padding-left: 20px;}
.result .noti {margin-top:6px; margin-bottom:-6px; font-size:12px;}
.result .noti span {color:#ed620d; font-size:13px;}
.result .cf {margin-top:10px; font-size:12px; font-weight:normal; display: none;}
.result .gift {display:inline-block; margin-top:7px; padding-left:31%;}
.result .gift { font-size: 12px; line-height: 24px; text-align: right;background: url("../img/common/gift.png") 0 50%/80px auto no-repeat; } 
.result .btnCall {display:block; padding:16px 0; text-align:center; margin:25px -20px 0; width:calc(100% + 40px); background:#ed620d; font-size:16px; font-weight:500; color:#fff;}
.result .btnCall span {position:relative; font-weight:700;}
.result .btnCall span:before {content:""; position:absolute; top:12px; right:100%; width:10px; height:14px; margin-top:-7px; margin-right:5px; background:url('../img/ico_tel.png') 50% 50% / contain no-repeat;}

.result .midBnr {display:flex; justify-content:space-between; align-items:center; padding:24px 16px; background:#4ca9a0; border-radius:6px; margin-top:25px;}
.result .midBnr .txt {color:#FFF; font-size:14px; font-weight:300; line-height:1.3; text-align:left;}
.result .midBnr .txt em {display:block; font-size:16px; font-family: 'GmarketSansBold';}
.result .midBnr .txt span {display:block; font-size:10px; letter-spacing:0;}
.result .midBnr img {width:75px;}

.result .box.boxType2 {border-bottom:0; padding-bottom:0;}
.result .boxType2 .rst .type { padding-bottom:20px;}
.result .boxType2 .cauTxt {text-align:center; color:#999; font-size:12px; line-height:1.3; margin-top:20px; letter-spacing:0;}


/* ========================================
 *  footer 기본 스타일 (모바일)
 * ======================================== */
.footer {background-color:#4d4d4d; color:#D7D7D7;}
.footer, .footer .inner, .footer .corp, .footer .corpInfo p, .footer .corpInfo strong, .footer .f-logo, .footer .address, .footer .copyright, .footer strong {font-family:'Pretendard Variable'!important;}
.footer .inner {max-width:100%; margin:0 auto; padding:30px 20px 110px 20px;}
.footer .corp {font-size:12px; margin-bottom:10px; color:#D7D7D7;}
.footer .corpInfo p {line-height:1.3; font-size:10px; color:#D7D7D7; margin-bottom:5px;}
.footer .corpInfo strong {color:#D7D7D7;}
.footer .f-logo {font-size:12px; margin-bottom:5px;}
.footer .address,
.footer .copyright {font-size:10px; line-height:1.3;}


/* ========================================
 * PC/MO 전환 (1200px 기준)
 * ======================================== */
/* 기본: MO (1200px 미만) */
.comnHeader {display:none;}
.driver-top-pc {display:none;}

/* MO (1199px 이하): 스크롤바 숨김, chatbotBanner·floatCalForm 숨김 */
@media (max-width: 1199px) {
	*::-webkit-scrollbar { display: none; }
	html, body { -ms-overflow-style: none; scrollbar-width: none; }
	#chatbotBanner,
	.floatCalForm { display:none !important; }
}


/* ========================================
 * pc공통 (.mHeadPr, .formSec)
 * ======================================== */
 .mHeadPr {position:relative; height:570px; display:flex; justify-content:center; align-items:center;}
 .mHeadPr .mcInner {width:100%; max-width:1200px; display:flex; justify-content:space-between; align-items:center;}
 .mHeadPr .mcInner .txtSec {position:relative;}
 .mHeadPr .mcInner .txtSec .referTxt {color:#939598; font-size:16px; margin-bottom:6px;}
 .mHeadPr .mcInner .txtSec .desc {color:#228765; font-size:30px; font-family: 'GmarketSansBold';}
 .mHeadPr .mcInner .txtSec .title {color:#333; font-size:36px; font-family: 'GmarketSansBold'; line-height:1.3; margin:10px 0 20px;}
 .mHeadPr .mcInner .txtSec .title em {display:inline-block; color:#939598; font-size:16px; font-family:'GmarketSans'; margin-left:10px;}
 .mHeadPr .mcInner .txtSec .prdName {color:#333; font-size:16px;}
 .mHeadPr .mcInner .txtSec .prdName.big {font-size:30px; font-family: 'GmarketSansBold';}
 .mHeadPr .mcInner .formSec {width:500px; position:relative;}
 .mHeadPr .mcInner .formSec .raTxt {position:absolute; left:50%; bottom:-34px; transform:translate(-50%, 0); width:100%; text-align:center; margin-top:0; color:#939598; font-size:14px; letter-spacing:-0.5px;}


/* ========================================
 * PC Header (.comnHeader)
 * ======================================== */
 .comnHeader {position:sticky; left:0; top:0; width:100%; height:70px; background:#FFF; z-index:1000; border-bottom:1px solid #dee1e0;}
 .comnHeader .inner {width:1200px; margin:0 auto; display:flex; justify-content:space-between; align-items:center; height:100%; padding:0;}
 .comnHeader .inner .logo {display:block; width:111px;}
 
 .comnHeader .inner nav {display:block;}
 .comnHeader .inner nav ul {display:flex; justify-content:center; align-items:center;}
 .comnHeader .inner nav ul li {position:relative;}
 .comnHeader .inner nav ul li > a {display:block; position:relative; padding:25px 20px; color:#000; font-size:18px; font-weight:400;}
 .comnHeader .inner nav ul li > a span {position:relative;}
 .comnHeader .inner nav ul li > a span:before {content:''; position:absolute; width:0%; height:2px; left:50%; bottom:-5px; transform:translate(-50%, 0); background:#1c8549; transition:.3s all;}
 .comnHeader .inner nav ul li dl {height:0; position:absolute; width:100%; min-width:120px; left:50%; top:60px; transform:translate(-50%, 0); background:#FFF; border-radius:10px; box-shadow:0px 0px 7px rgb(65 65 65 / 20%); padding:0px; transition:.4s all;}
 .comnHeader .inner nav ul li dl.wide {width:156px;}
 .comnHeader .inner nav ul li dl dt {display:none;}
 .comnHeader .inner nav ul li dl dd {display:block;}
 .comnHeader .inner nav ul li dl dd a {display:block; opacity:0; padding:0; font-size:16px; text-align:center; color:#333; transition:.3s all;}
 .comnHeader .inner nav ul li dl dd a:hover {background:#f4f4f4; border-radius:3px; color:#1c8549;}
 .comnHeader .inner nav ul li.over > a {color:#1c8549;}
 .comnHeader .inner nav ul li.over > a span:before {width:100%;}
 .comnHeader .inner nav ul li.over dl {height:auto; padding:10px 5px;}
 .comnHeader .inner nav ul li.over dl dd {height:auto;}
 .comnHeader .inner nav ul li.over dl dd a {display:block; padding:7px 5px; opacity:1.0;}
 .comnHeader .inner nav ul li.active > a {color:#1c8549;}
 .comnHeader .inner nav ul li.active > a span:before {width:100%;}

 .comnHeader .inner .callCenter {display:flex; justify-content:center; align-items:center; padding:5px 12px; font-size:15px; color:#228765; background:#ecf9f0; border:2px solid #228765; font-weight:600; border-radius:100px; gap:9px; font-family:'Pretendard Variable'; letter-spacing:0;}
 .comnHeader .inner .callCenter:before {content:''; display:inline-block; width:20px; height:20px; background:url(../img/header/menu_num_icon.svg) no-repeat 50% 50%; background-size:100%;}
 
 .mContents {position:relative;}
 .subComnWrap {position:relative;}


/* ========================================
 * PC topBnr
 * ======================================== */
 .topBnr {display:block; height:100px; background:#edf3cd; text-align:center;}
 .topBnr .bnrInner {width:1200px; margin:0 auto;}
 .topBnr img {height:100px;}

 /* ========================================
 * 모바일 챗봇 유무
 * ======================================== */
 .care-page .floatFunc .chatSection {display:none !important;}

/* PC (1200px 이상) */
@media (min-width: 1200px) {
	
	/* 보험가이드 메뉴 색상 */
	.guide-on > a {color:#999999 !important;}
	.guide-on > a span:before {display: none;}

	/* 헤더 전환 */
	.comnHeader {display:block;}
	.gloHeader, .dim, .sideMenu {display:none !important;}
	.driver-top-mo {display:none;}
	.driver-top-pc {display:block;}

	/* toastPop 숨김 (하위 formBtns는 상속으로 숨김) */
	.toastPop.renew { display: none !important; }
	.hero-form .formBtns.con { display: flex !important; position: static !important; }
	.hero-form .formBtns.con.fixed { position: static !important; left: auto !important; right: auto !important; bottom: auto !important; }

	/* snsCertify, chatSection 숨김 */
	.floatFunc .snsCertify {display:none !important;}
	.floatFunc .chatSection {display:none !important;}

	/* footer PC */
	.footer {padding:40px 0; color:#D7D7D7;}
	.footer .inner {max-width:1200px;width:1200px;padding: 20px;color:#D7D7D7;}
	.footer .inner .corp {font-size:12px;margin-bottom:10px;color:#D7D7D7;}
	.footer .inner .corpInfo p {font-size:12px;margin-bottom:3px;color:#D7D7D7;}
	.footer .f-logo {font-size:16px;}
	.footer .address,
	.footer .copyright {font-size:12px;}


	/* ========================================
	 * chatbot banner* 전용
	 * ======================================== */
	@keyframes slideEffect { 
	 0% { left:-100%; } 100% { left:0px } 
	 } 
	/* chatbot(왼쪽하단)*/
	#chatbotBanner {position:fixed; bottom: 108px; left: -100%; width:301px; height:148px; background:url(../img/bg_chatbot.png) no-repeat 50% 50%; background-size:100%; z-index:100;}
	#chatbotBanner a {display:flex; width:100%; height:100%; justify-content:center; align-items:center; text-align:center; color:#333; font-size:18px; font-weight:400; line-height:1.3;}
	#chatbotBanner.slide { animation-name: slideEffect; animation-delay: 0s; animation-duration: 1s; animation-fill-mode: forwards; animation-iteration-count: 1; } 	


	/* newChatbot */
	.floatCalForm {
		background:#3b3b3b; border-radius:20px; padding:0 180px 0 250px;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
		transition: opacity 0.6s, transform 0.5s; position: fixed; left:50%; transform:translate(-50%, 0); z-index:100; bottom:30px; width: 1100px;
	} 
	.floatCalForm.hide { transform: translate(-50%, 190%); opacity: 0; pointer-events: none;} 
	.floatCalForm h3 {position:absolute; left:40px; top:54%; transform:translate(0 ,-50%); color:#FFF; font-size:23px; font-weight:600; line-height:1.3;} 
	.floatCalForm #frm3 { height: 100%; line-height: 82px; } 
	.floatCalForm #frm3 .formBox {display:flex; justify-content:space-between; align-items:center; gap:12px; padding:20px 25px 20px 0;}
	.floatCalForm #frm3 .btns {position:absolute; right:0; top:0; width:180px; height:100%; background:#f06141; border-radius:0 20px 20px 0;}
	.floatCalForm #frm3 .btns .btn .icon { width: 33px; height: 33px; background-size: cover; z-index: 1; filter: invert(100%) sepia(0%) saturate(3303%) hue-rotate(98deg) brightness(111%) contrast(106%);; } 
	.floatCalForm #frm3 .btns .btn {display:flex; justify-content:center; align-items:center; gap:0px; border-radius:0 20px 20px 0; color: #fff; height: 100%; font-size: 25px; font-weight: 600; text-align: center; position: absolute; right: 0; bottom: 0; width:100%;} 
	.floatCalForm #frm3 .btns .btn div {margin-top:6px; height:36px; display:flex; justify-content:flex-start; align-items:center; overflow:hidden;} 
	.floatCalForm #frm3 .btns .btn span {text-shadow: 0px 33px 0px #fff; -webkit-animation: textWave 2s linear both; animation: textWave 2s linear both; animation-iteration-count: infinite; padding:0 1px;} 
	.floatCalForm #frm3 .btns .btn span:nth-child(1) { animation-delay: 0.1s;} 
	.floatCalForm #frm3 .btns .btn span:nth-child(2) { animation-delay: 0.2s;} 
	.floatCalForm #frm3 .btns .btn span:nth-child(3) { animation-delay: 0.3s;} 
	.floatCalForm #frm3 .btns .btn span:nth-child(4) { animation-delay: 0.4s;} 
	.floatCalForm #frm3 .formBox .gender input[type="radio"] { position: absolute; left: -9999px; width: 1px; height: 1px; margin: -1px; overflow: hidden; opacity: 0; } 
	.floatCalForm #frm3 .formBox .gender label { font-size:17px; color:#919191; position: static; background:#FFF; display: inline-block; width: 40px; line-height: 40px; text-align: center; font-family:'Pretendard Variable'; color:#bdbdbd;}
	.floatCalForm #frm3 .formBox .gender label.m {border-radius:100px 0 0 100px;} 
	.floatCalForm #frm3 .formBox .gender label.f {border-radius:0 100px 100px 0; margin-left:-1px;} 
	.floatCalForm #frm3 .formBox .gender input[type="radio"]:checked + label { background-color: #228765; color:#FFF; } 
	.floatCalForm #frm3 .formBox .formGroup { width: 200px; line-height:0px; display: inline-block; vertical-align: middle; } 
	.floatCalForm #frm3 .formBox .name { width: 105px;} 
	.floatCalForm #frm3 .formBox .birth {width:206px;}
	.floatCalForm #frm3 .formBox .gender { width:auto; } 
	.floatCalForm #frm3 .formBox .tel { background-color:#fff; padding: 0; border-radius:100px; padding:0 10px; box-sizing: border-box; width:195px;} 
	.floatCalForm #frm3 .formBox .tel em { margin:0 5px; color:#bababa; } 
	.floatCalForm #frm3 .formBox .tel input {float:left; width:33.3333%; border:0; border-radius:none; background:transparent;} 
	.floatCalForm #frm3 .formBox .input {display:inline-block; width:100%; font-size:16px; font-weight:400; height: 40px; background-color:#fff; border:0; border-radius: 100px; padding: 0 5px; text-align: center; vertical-align: top; box-sizing:border-box; font-family:'Pretendard Variable';} 
	.floatCalForm #chatbot {position:absolute; cursor:pointer; width:410px; height:50px; top:-60px; right:0; background:#fff; border-radius:25px; box-shadow:0px 0px 10px rgb(65 65 65 / 20%); display:flex; justify-content:flex-start; align-items:center; gap:8px; padding:0 10px 0 20px;}
	.floatCalForm #chatbot p { display:inline-block; width: 53%; overflow: hidden; height: 100%; } 
	.floatCalForm #chatbot p span { margin-top: 0; line-height: 1.5; color: #000; font-size: 18px; font-weight: 600; } 
	.floatCalForm #chatbot .mark {width:28px; height:28px; display:flex; justify-content:center; align-items:center;}
	.floatCalForm #chatbot .mark img {width:100%;display:block;}
	.floatCalForm #chatbot .txt {font-size:18px; width:calc(100% - 40px);}
	.floatCalForm #chatbot .txt a {color:#ff4c16; margin-left:10px; position:relative; display:inline-flex; justify-content:center; align-items:center; gap:0px;} 
	.floatCalForm #chatbot .txt a:after {content:''; display:inline-block; width:23px; height:23px; background:url(../img/common/ar_tail.svg) no-repeat 50% 50%; background-size:100%; filter: invert(49%) sepia(72%) saturate(5953%) hue-rotate(352deg) brightness(106%) contrast(101%);}	

	/* ========================================
	 * Popup - 동의 팝업 (.agreePop)
	 * ======================================== */
	.agreePop {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 9999; display:none;}
	.agreePop * {font-family:'Pretendard Variable';}
	.agreePop .frame { position: absolute; top: 50%; left: 50%; width: 600px; background-color: #fff; transform: translate(-50%, -50%); border-radius:30px; padding:45px 35px;}
	.agreePop .close { position: absolute; top: 0px; right: 0px; width: 41px; height: 0; padding-top: 41px; background:url("../img/form/ico_close.png") 50% 50% no-repeat; overflow: hidden;}
	.agreePop .header { position: relative; text-align: center; color: #333;}
	.agreePop .header h2 { font-size: 28px; font-weight:600; margin-bottom:30px;}
	.agreePop .cont {position:relative; padding:0;}
	.agreePop .cont .all {display:flex; justify-content:space-between; align-items:center; padding:27px 0 20px; border-top:1px solid #e1e1e1;}
	.agreePop .cont .all p {color:#333; font-size:16px; font-weight:400; line-height:1.3; padding-left:5px;}
	.agreePop .cont .all .btnAll { width:150px; height:40px; font-size:21px; font-weight:600; line-height:22px; color:#fff; background: #158450; border-radius:10px; }
	.agreePop .cont .contBox .agreeSet { height:28px; }
	.agreePop .cont .contBox .agreeSet::after { content:""; display:block; clear: both; }
	.agreePop .cont .contBox .agreeSet .warn { display:none; width:335px; float: left; position: relative; padding-left:5px; font-size:16px; font-weight:500; line-height: 28px; color:#ed620d; }
	.agreePop .cont .contBox .agreeSet .warn.on { display: block; }
	.agreePop .cont .contBox .radioBox { float:right; padding-top:3px; }
	.agreePop .cont .contBox .radioBox .lb {display:inline-block; margin:0 25px 0 0; cursor:pointer; vertical-align:middle; padding:0;}
	.agreePop .cont .contBox .radioBox .lb:last-child {margin-right:0;}
	.agreePop .cont .contBox .radioBox .lb input {position:absolute; visibility:hidden;}
	.agreePop .cont .contBox .radioBox .lb input + span {display:inline-block; padding:0px 0px 0px 22px; background:url(../img/form/bg_chk_off.png) no-repeat left 0px; background-size:18px 18px; font-size:16px; color:#333; font-weight:500;}
	.agreePop .cont .contBox .radioBox .lb input:checked + span {background:url(../img/form/bg_chk_on.png) no-repeat left 0px; background-size:18px 18px; color:#333;}
	.agreePop .cont .contBox .rollBox { width:530px; height:108px; overflow: auto; padding:10px; margin-bottom: 12px; background: #fbfbfb; border:1px solid #e1e1e1; font-size:12px; font-weight:400; letter-spacing:-0.04em; }
	.agreePop .cont .contBox .rollBox.small { height:78px; }
	.agreePop .cont .contBox .rollBox a { text-decoration: underline; }
	.agreePop .cont .contBox .rollBox h3 { margin-top:12px; font-size:18px; }
	.agreePop .cont .contBox .rollBox p, .agreePop .cont .contBox .rollBox ul { margin-top:10px; line-height:18px; }
	.agreePop .cont .contBox .rollBox ul .sub { margin:0 0 0 10px; }
	.agreePop .cont .btnCheck { display:block; width:330px; height:65px; margin:26px auto 0; background:#ed620d; font-size:28px; font-weight:700; color:#fff; border-radius:10px;}
	.agreePop .cont .btnCheck.gr { background-color: #158450; }

	/* ========================================
	 * Popup - 결과 팝업 (.result)
	 * ======================================== */
	.result { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 9999; } 
	.result .frame {padding: 0; position: absolute; top: 50%; left: 50%; width: 800px; background-color: #fff; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); } 
	.result .header h2{display: block;}
	.result .close { position: absolute; top: 11px; right: 11px; width: 41px; height: 0; padding-top: 41px; background: #17513b url("../img/common/btn_close_result.png") 50% 50% no-repeat; overflow: hidden; } 
	.result .header { position: relative; height: 62px; text-align: center; font-size: 24px; line-height: 62px; color: #fff; background-color: #1ca77e; } 
	.result .header h2 { font-size:28px; color:#FFF;} 
	.result .header span { font-weight: 700; } 
	.result .cont { height: auto; padding: 33px 52px 30px 303px; text-align: center; background: #f8fdff url("../img/common/bg_result.png") 35px 0 no-repeat; display:flex; justify-content:center; align-items:center; flex-direction:column;} 
	.result .cont h3 { margin-bottom: 24px; font-size: 35px;} 
	.result .cont h3 span { font-weight: 700; color: #17513b; } 
	.result .box { padding: 22px 0; border-top: 1px solid #dfe0e1; border-bottom: 1px solid #dfe0e1; } 
	.result .box .ageType1 p { font-size:25px; line-height:1.4; } 
	.result .main { font-size: 34px; } 
	.result .main .name { font-size: 35px; font-weight: 700; } 
	.result .rst .txt {position:absolute; bottom:30px; left:100%;}
	.result .rst { font-size: 25px; line-height: 1; } 
	.result .rst .label { display: inline-block; width: 4em; text-align: right; vertical-align: bottom; font-size: 34px; } 
	.result .rst .fee { font-size: 46px; font-weight: 700; } 
	.result .rst .type1 .fee,.result .rst .type2 .fee { font-size: 40px; letter-spacing: -2px; } 
	.result .rst .orange { color: #ed620d; margin-right: 5px; } 
	.result .rst .type { position: relative; display: inline-block; line-height:1.3;}  
	.result .rst .type p { font-size:28px; font-weight:700; margin-right:10px; display: inline-block } 
	.result .cf { margin-top: 50px; font-size: 15px; display: none; } 
	.result .gift { display: inline-block; margin-top: 20px; } 
	.result .btnCall { display: block; width: 320px; margin: 20px auto 0; padding: 16px 0; font-size: 21px; color: #fff; background-color: #ed620d; } 
	.result .btnCall span { position: relative; } 
	.result .btnCall span:before { content: ""; position: absolute; top: 50%; right: 100%; width: 14px; height: 19px; margin-top: -10px; margin-right: 10px; background: url("../img/common/ico_tel.png") no-repeat; } 
	.result .gift { font-size: 18px; line-height: 24px; text-align: left; padding-left: 114px; background: url("../img/common/gift.png") 0 50%/104px auto no-repeat; } 
	.result .gift p { } 
	.result .gift span { display: block; font-size: 12px; letter-spacing: -0.015em; font-weight: 400; } 
	.result .boxType1.box .type {position: relative; display: inline-block; line-height: 1.3; font-size: 20px;}
	.result .boxType2 .rst .type {border-bottom: 1px solid #dfe0e1;}
	.result .boxType2 .cauTxt {font-size:14px;}
}
